extends ../layouts/Login

block scripts
    script(src="ConnectionController.js")

block content
    div(flex-container="column", flex-align="space-between center", class="mt++")
        div(class="p+", style="width: 580px;").card
            | Connectin settings