//- Main page

| รายชื่อผู้ประสบอุบัติเหตุ

div(flex-container="row", flex-gutter="24")
    div(flex-item="3")
        lx-date-picker(label="ตั้งแต่", model="startDate", locale="th")
    div(flex-item="3")
        lx-date-picker(label="ถึง", model="endDate", locale="th")

    div(flex-item="3")
        br
        button.btn.btn--l.btn--blue.btn--raised(lx-ripple, ng-click="doGetData()") แสดงข้อมูล

    div(flex-item="3")
        br
        button.btn.btn--l.btn--blue.btn--raised(lx-ripple, ng-click="doExport()") ส่งออกข้อมูล

div.data-table-container
    table.data-table.data-table--has-secondary
        thead
            tr
                th #
                th วันที่
                th เวลา
                // th CID
                th HN
                th ชื่อ - สกุล
                th อายุ
                th ส่ง
                th
            tr
                td(colspan="8").divider.divider--dark
        tbody
            tr(ng-repeat="p in patient").data-table__clickable-row
                td {{ $index + 1 }}
                td {{ p.vstdate | toThaiDate }}
                td {{ p.vsttime }}
                // td {{ p.cid }}
                td {{ p.hn }}
                td {{ p.pname }}{{ p.fname }} {{ p.lname }}
                td {{ p.birthday | countAge }}
                td(ng-if="p.exported_date")
                    i.mdi.mdi-checkbox-marked-circle-outline.icon--s.icon--green.icon--flat
                 td(ng-if="!p.exported_date")
                     i.mdi.mdi-checkbox-blank-circle-outline.icon--s.icon--grey.icon--flat
                td
                    lx-dropdown(position="right", from-top)
                        buton(lx-ripple, lx-dropdown-toggle).btn.btn--l.btn--grey.btn--icon
                            i.mdi.mdi-dots-vertical
                        lx-dropdown-menu
                            ul
                                li
                                    a(ng-click="showMap(p.vn)").dropdown-link กำหนดพิกัด

//- modal
lx-dialog.dialog.dialog--l(onclose="closingModal()")#mdlMap
    div.dialog__header
        div.toolbar.bgc-light-blue-500(class="pl++")
            span.toolbar__label.tc-white.fs-title กำหนดพิกัด

            div.toolbar__right
                button.btn.btn--l.btn--icon.btn--white(lx-ripple, lx-dialog-close)
                    i.mdi.mdi-close
    div.dialog__content
        form(name="frmMap")
            div(class="p+")
                div(flex-container="row", flex-gutter="24")
                    div(flex-item="6")
                        lx-text-field(label="Latitude")
                            input(type="text", ng-model="lat", ng-disabled="true", ng-required="true")
                    div(flex-item="6")
                        lx-text-field(label="Longitude")
                            input(type="text", ng-model="lng", ng-disabled="true", ng-required="true")
                div(flex-container="row")
                    div(flex-item)
                        div(ui-map="myMap" ui-options="mapOptions" class="map-canvas",
                        ui-event="{'map-click': 'addMarker($event, $params)'}")

    div.dialog__actions
        button(lx-ripple, ng-disabled="frmMap.$invalid", ng-click="saveMap()").btn.btn--l.btn--green.btn--raised Save
        | &nbsp;
        button(lx-dialog-close, lx-ripple).btn.btn--l.btn--grey.btn--raised Close