doctype html
html(lang="en")
    head
        meta(charset="utf8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1")

        title My Application

        link(href="../../vendor/lumx/dist/lumx.css", rel="stylesheet")
        link(href="../css/style.css", rel="stylesheet")
        link(href="../../vendor/mdi/css/materialdesignicons.css", rel="stylesheet")
        link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700")

    body(ng-app="App")
        div.toolbar.bgc-red-500(ng-controller="ToolbarController")
            .toolbar__left.mr
                button.btn.btn--l.btn--white.btn--icon(lx-ripple)
                    i.mdi.mdi-windows
            span(style="color: #fff;").toolbar__label.fs-title
                | My Application
            .toolbar__right
                .fs-title.tc-white [{{ hospcode }}] {{ hospname }}
                lx-dropdown(position="right", from-top)
                    button(lx-ripple, lx-dropdown-toggle).btn.btn--white.btn--l.btn--icon
                        i.mdi.mdi-dots-vertical
                    lx-dropdown-menu
                        ul
                            li
                                a.dropdown-link.dropdown-link--is-header Tools
                            li
                                a(href="#!/logout").dropdown-link
                                    i.mdi.mdi-logout
                                    | &nbsp; Log out
        div(flex-container="row", flex-gutter="24")
            div(flex-item="3").card
                ul.list
                    li.list-row.list-row--has-separator
                        .list-row__primary
                            a(href="#/")
                                i.icon.icon--l.icon--teal.icon--circled.mdi.mdi-home
                        .list-row__content
                            span.display-block Home
                            span.display-block.fs-body-1.tc-black-2 หน้าหลัก
                    li.list-row.list-row--has-separator
                        .list-row__primary
                            a(href="#/settings")
                                i.icon.icon--l.icon--green.icon--circled.mdi.mdi-security
                        .list-row__content
                            span.display-block Settings
                            span.display-block.fs-body-1.tc-black-2 กำหนดค่าระบบ

            div(flex-item="9")
                .card
                    div(class="p+")
                        block content

        // google map api

        script(src="../../vendor/jquery/dist/jquery.min.js")
        script(src="../../vendor/velocity/velocity.min.js")
        script(src="../../vendor/moment/min/moment-with-locales.min.js")
        script(src="../../vendor/angular/angular.js")
        script(src="../../vendor/angular-route/angular-route.min.js")
        script(src="../../vendor/lumx/dist/lumx.min.js")
        //- Main application scripts
        script(src="../app.js")
        script(src="../common.js")
        script(src="../filters.js")

        //- Modules script
        block scripts
